<h2 id="title">MyTodos</h2>
<!-- Fixed navbar -->
  <nav class ="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
    <div class ="container">
      <div class ="navbar-header">
        <button type ="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class ="icon-bar"></span>
          <span class ="icon-bar"></span>
          <span class ="icon-bar"></span>
          <span class ="icon-bar"></span>
        </button>
        <a href ="" class="navbar-brand">HOME</a>
      </div>

      <div class ="collapse navbar-collapse" id ="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#todos">TODOS</a></li>
            <li><a href ="#completed">COMPLETED</a></li>
            <li><a href ="#showall">SHOWALL</a></li>
            <li><a href ="#deleted">DELETED</a></li>
          </ul>
      </div>
    </div>
  </nav>
  {{outlet}}
